  .roboto-thin {
    font-family: var(--first-font);
    font-weight: var(--thin);
    font-style: normal;
  }

  .roboto-light {
    font-family: var(--first-font);
    font-weight: var(--regular);
    font-style: normal;
  }

  .roboto-regular {
    font-family: var(--first-font);
    font-weight: 400;
    font-style: normal;
  }


  body {
    font-family: var(--first-font);
    color: var(--color-secondary);
    background-color:var(--color-primary);
    margin: 0px;
  }

/*Header*/

  header {
    z-index: 1000;
    background-color: var(--color-header);
    position: relative;
    font-size: 25px;
    height: 90px;

  }

  .headerlogo_mobile_png {
    height: 45px;
    width: auto;
    padding: 22px 0px;
  }

  nav, 
  #hamburgermenu {
    display: none;
  }

  #hamburgermenu:checked ~ nav {
    display: grid;
  }

  .menu_mobile {
    top: 90px;
    position: absolute;
    background-color: var(--color-secondary);
    color: white;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    width: 100%;
  }

  .menu_mobile div {
    grid-column: span 1;
    display: flex;
    margin: 0px 20px;
  }

  .menu_mobile h2 {
    font-weight: var(--thin);
    font-size: var(--medium);
  }

  .menu_mobile form {
    display: flex;
    grid-column: span 2;
    margin: 20px 20px auto 5px;
    background-color: white;
    border-radius: 5px;
  }

  .menu_mobile i {
    font-size: 15px;
    color: grey;
    margin: auto 5px;
  }

  .globe {
    position: relative;
    margin: 22px 5px 20px 20px;
  }

  .searchbar {
    padding: 5px 20px 5px 10px;
    width: 100%;
    font-size: 12px;
    font-family: var(--first-font);
    font-weight: var(--thin);
    border: white solid 2px;
    border-radius: 5px;
  }

  .menu_mobile a {
    text-decoration: none;
    color: white;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: var(--medium);
    padding: 20px 20px;
    grid-column: span 3;
    margin: 10px 0px;
  }

  .menu_mobile a:hover {
    font-style: italic;
  }

  .headerlogo_large, 
  .extra_contact,
  .extra_english,
  .header_contribution,
  .header_exibition,
  .header_visit,
  .search_large {
    display: none;
  }

  .hamburgermenu {
    position: absolute;
    top: 33px;
    right: 20px;
  }

/*Homepage*/

  .homepage h3 {
    background-color: var(--color-button);
    font-size: var(--small_medium);
    font-family: var(--secondary-font);
    font-weight: var(--thick);
    text-transform: uppercase;
    color: white;
    padding: 7px 20px;
    margin: 15px 0px 0px;
  }

  .homepage-header {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.30)), url(../images/spaceship.jpg);
    background-size: cover;
    height: 200px;
    width: 100%;
    position: relative;
  }

  .homepage-header-text {
    position: relative;
    top: 130px;
    text-align: center;
  }

  .homepage-header-text h1 {
    color: white;
    font-family: var(--secondary-font);
    font-weight: var(--thick);
    font-size: var(--medium_large);
    margin: auto;
    text-transform: uppercase;
  }

  .homepage-header-text h2 {
    font-weight: 200;
    font-size: var(--small_medium);
    margin: auto;
  }

  .homepage-header-text h2:hover {
    font-style: italic;
  }

  .homepage-header-text a {
    color: white;
  }

/*Interactive element*/

  .scrollbar {
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 81%;
    overflow-x: auto;
    margin: 5px 20px;
  }

  .scrollbar a:hover {
      font-style: italic;
  }

  .scrollbar-element {
    display: grid;
    grid-template-rows: min-content;
    gap: 2px;
  }

  .scrollbar-element img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  .scrollbar-element h4 {
    font-size: var(--very_small);
    text-decoration: underline;
    font-weight: var(--regular);
    margin: 5px 0px;
  }

  .scrollbar-element p {
    font-weight: var(--thin);
    font-size: var(--very_small);
    line-height: var(--paragraph-height);
    margin: 0px;
  }

  .scrollbar-element a {
    text-decoration: none;
    color: var(--color-secondary);
  }

  .snapscroll {
    scroll-snap-type: inline mandatory;
  }

  .snapscroll > * {
    scroll-snap-align: start;
  }

  .forkids-button, 
  .forteachers-button, 
  .forresearchers-button {
    background-size: cover;
    display: block;
    color: white;
    padding: 90px 20px 15px 20px;
    font-size: var(--medium);
    text-transform: uppercase;
    font-weight: var(--regular);
    font-family: var(--secondary-font);
  }

  .forkids-button {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.30)), url(../images/math.jpg);
    background-position: center;
  }

  .forteachers-button {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.30)), url(../images/vr-painting.jpg);
  }

  .forresearchers-button {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.30)), url(../images/heart.jpg);
    background-position: center;
  }

  .forkids-button:hover, 
  .forteachers-button:hover, 
  .forresearchers-button:hover {
    font-style: italic;
  }

  .forkids-text, 
  .forteachers-text,
  .forresearchers-text {
    display: none;
  }

  .forkids-paragraph, 
  .fortearchers-paragraph,
  .forresearchers-paragraph {
    display: none;
    background-color: var(--color-secondary);
    color: white;
    position: relative;
    font-weight: var(--thin);
    padding: 20px;
    line-height: var(--paragraph-height);
    font-size: var(--very_small);
  }

  .forkids-text:checked + .forkids-button + .forkids-paragraph {
    display: block;
  }

  .forteachers-text:checked + .forteachers-button + .fortearchers-paragraph {
    display: block;
  }

  .forresearchers-text:checked + .forresearchers-button + .forresearchers-paragraph {
    display: block;
  }

  .arrow-explore {
    position: absolute;
    left: 80%;
    font-size: 30px;
  }

/*Footer*/

  footer a:hover {
    font-style: italic;
    text-decoration: underline;
  }

  .footer_shortcuts, 
  .footer_contribution {
    display: none;
  }

  .footer_follow h1 {
    display: none;
  }

  footer {
    background-color: var(--color-footer);
    color: white;
    display: grid;
    grid-template-rows: 10px 1fr 1fr;
    height: 300px;
  }

  .grey-box {
    background-color: var(--color-button);
    width: 100%;  
    grid-row: 1;
    grid-column: 1/3;
  }

  .footer_follow {
    grid-row: 3;
    grid-column: 2;
    margin: auto;
    position: relative;
    top: -70px;
  }

  .footer_follow a {
    color: white;
    font-size: 20px;
    margin: 5px;
  }

  .footer_follow a:hover {
    color: var(--color-hover);
  }

  .footer_times {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    margin: 30px auto;
  }

  .footer_times * {
    margin: 2px 0px 0px 0px;
  }

  .footer_times h1 {
    font-family: var(--secondary-font);
    font-weight: var(--thick);
    font-size: var(--very_small);
    text-transform: uppercase;
    margin-bottom: 5px;
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .footer_times a {
    color: white;
    text-decoration: none;
  }

  .footer_times h2 {
    font-weight: var(--thin);
    font-size: var(--very_small);
    padding: 5px 0px;
  }

  .footer_times p {
    font-weight: var(--thin);
    font-size: var(--very_small);
    padding: 5px 0px;
    text-align: end;
  }

  .monday-footer {
    grid-column: 1;
    grid-row: 2;
  }

  .tuesday-footer {
    grid-column: 1;
    grid-row: 3;
  }

  .wednesday-footer {
    grid-column: 1;
    grid-row: 4;
  }

  .thursday-footer {
    grid-column: 1;
    grid-row: 5;
  }

  .friday-footer {
    grid-column: 1;
    grid-row: 6;
  }

  .saturday-footer {
    grid-column: 1;
    grid-row: 7;
  }

  .sunday-footer {
    grid-column: 1;
    grid-row: 8;
  }

  .closed-footer {
    grid-column: 2;
    grid-row: 2;
  }

  .tuesdaytime-footer {
    grid-column: 2;
    grid-row: 3;
  }

  .wednesdaytime-footer {
    grid-column: 2;
    grid-row: 4;
  }

  .thursdaytime_footer {
    grid-column: 2;
    grid-row: 5;
  }

  .fridaytime-footer {
    grid-column: 2;
    grid-row: 6;
  }

  .saturdaytime-footer {
    grid-column: 2;
    grid-row: 7;
  }

  .sundaytime-footer {
    grid-column: 2;
    grid-row: 8;
  }

  .monday-footer, 
  .tuesday-footer, 
  .wednesday-footer, 
  .thursday-footer, 
  .friday-footer, 
  .saturday-footer, 
  .closed-footer, 
  .tuesdaytime-footer, 
  .wednesdaytime-footer, 
  .thursdaytime-footer, 
  .fridaytime-footer, 
  .saturdaytime-footer {
    border-bottom: solid white 0.5px;
  }

  .footer_adress {
    grid-row: 2 / 3;
    grid-column: 2;
    margin: 30px auto;
    position: relative;
  }

  .footer_adress h1 {
    font-family: var(--secondary-font);
    font-weight: var(--thick);
    font-size: var(--very_small);
    text-transform: uppercase;
  }

  .footer_adress p {
    font-weight: var(--thin);
    font-size: var(--very_small);
    line-height: 2.0;
  }

  .telephone {
    text-decoration: underline;
  }

@media (min-width: 400px) {

/*Homepage*/

  .scrollbar {
    grid-auto-columns: 62%;
  }

  .scrollbar-element img {
    height: 200px;
  }

  .forkids-button, 
  .forteachers-button, 
  .forresearchers-button {
    padding: 120px 20px 15px 20px;
  }

  .arrow-explore {
    left: 90%;
  }

  .footer_times {
    width: 200px;
    padding: 0px 20px;
  }
}

@media (min-width: 700px) {

  /*Header*/
  
  .hamburgermenu, 
  .meny_mobile {
    display: none;
  }
    
  .headerlogo_large {
    display: contents;
  }

  .headerlogo_mobile, 
  .menu_mobile {
    display: none;
  }
  
  .extra_info {
    display: contents;
  }

  header {
    padding: 0px 40px 0px 20px;
  }
  
  .header_large {
    display: grid;
    grid-template-columns: 1fr 1fr 100px 113px;
    grid-template-rows: 45px 45px;
    height: 90px;
    position: relative;
    top: -80px;
    margin-left: 70px;
  }

  .headerlogo_large img {
    height: 60px;
    margin: 5px;
  }

  .header_large a:hover {
    font-style: italic;
  }

  .header_exibition {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    color: white;
    text-decoration: none;
    font-size: var(--small_medium);
    font-weight: var(--thin);
    position: relative;
    top: 5px;
    margin: auto;
  }

  .header_contribution {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    color: white;
    text-decoration: none;
    font-size: var(--small_medium);
    font-weight: var(--thin);
    position: relative;
    top: 5px;
    margin: auto;
  }

  .header_visit {
    display: grid;
    grid-row: 2;
    grid-column: 3;
    margin: auto;
    color: white;
    text-decoration: none;
    font-size: var(--small_medium);
    font-weight: var(--thin);
    position: relative;
    top: 5px;
    margin: auto;
  }

  .extra_contact {
    display: grid;
    grid-row: 1;
    grid-column: 4;
    margin: auto;        
    position: relative;
    padding: 0px 5px 5px;
    text-decoration: none;
    font-size: var(--small);
    font-weight: var(--thin);
    color: rgba(201, 227, 248, 1);
    top: 5px;
  }

  .extra_english {
    display: flex;
    grid-row: 1;
    grid-column: 5;
    margin: auto;
    position: relative;
    border-left: 2px solid;
    border-color: rgba(201, 227, 248, 1); 
    padding: 0px 5px 5px;
    text-decoration: none;
    font-size: var(--small);
    font-weight: var(--thin);
    color: rgba(201, 227, 248, 1);
    top: 5px;
  }

  .large_globe {
    font-size: 10px;
    margin: 5px;
  }

  .search_large {
    display: grid;
    grid-row: 2;
    grid-column-start: 4;
    grid-column-end: 6;
    margin: auto;
  }

  .searchbar_input {
    padding: 5px 20px 5px 10px;
    width: 100%;
    font-size: 12px;
    font-family: var(--first-font);
    font-weight: var(--thin);
    border: white solid 2px;
    border-radius: 5px;
  }

  .header_large form {
    display: flex;
    background-color: white;
    border-radius: 5px;
  }

  .search_large i {
    font-size: 15px;
    color: grey;
    margin: auto 5px;
  
  }

/*Homepage*/

  .homepage-header {
    height: 250px;
  }

  .homepage-header-text {
    margin-left: 40px;
    text-align: left;
    top: 155px;
  }

  .homepage-header-text h1 {
    text-transform: uppercase;
    font-size: var(--large);
  }

  .homepage-header-text h2 {
    font-size: var(--medium);
  }

  .homepage h3 {
    padding: 7px 40px;
    font-size: var(--medium);
  }

  .scrollbar {
    grid-auto-columns: 40%;
    margin: 5px 40px;
  }

  .scrollbar-element img {
    height: 200px;
  }

  .forkids-button, 
  .forteachers-button, 
  .forresearchers-button {
    padding: 170px 40px 30px 40px;
  }

  .forkids-paragraph, 
  .fortearchers-paragraph, 
  .forresearchers-paragraph {
    padding: 20px 40px;
    font-size: var(--small);
  }

  /*Footer*/

  footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    height: 400px;
  }

  .grey-box {
    grid-row: 1;
    grid-column: 1/5;
  }

  .footer_shortcuts {
    display: initial;
    grid-row: 2;
    grid-column: 2;
    margin: 60px auto;
    line-height: 2.0;
  }

  .footer_shortcuts h1 {
    font-family: var(--secondary-font);
    font-weight: var(--thick);
    font-size: var(--very_small);
    text-transform: uppercase;
    margin: 0px;
  }

  .footer_shortcuts p {
    margin: 0px;

  }

  .footer_shortcuts a {
    text-decoration: none;
    color: white;
    margin: 0px;
    font-weight: var(--thin);
    font-size: var(--very_small);
  }

  .footer_adress {
    grid-row: 2;
    grid-column: 3;
    margin: 60px auto;
  }

  .footer_adress h4 {
    margin: 0px;
    font-size: var(--very_small);
  }

  .footer_contribution {
    display: grid;
    grid-row: 2;
    grid-column: 4;
    margin: 30px 20px 0px 0px;
  }

  .footer_contribution h1 {
    font-family: var(--secondary-font);
    font-weight: var(--thick);
    font-size: var(--very_small);
    margin: 0px auto;
    text-transform: uppercase;
  }

  .footer_contribution div {
    margin: 0px auto;
  }

  .footer_contribution img {
    height: 80px;
    width: auto;
    margin: 20px;
    background-color: white;
  }

  .footer_contribution a {
    color: white;
  }

  .footer_contribution p {
    margin: 0px auto;
  }

  .footer_follow {
    grid-row: 1;
    grid-column: 1 / 5;
    display: flex;
    position: relative;
    top: 0px;
  }


  .footer_follow h1 {
    display: flex;
    margin: 14px 10px 0px 0px;
    font-size: var(--small_medium);
    font-weight: var(--regular);
  }

  .footer_follow i {
    font-size: 20px;
    margin: 0px 5px;
  }

  .footer_follow a {
    color: white;
    font-size: 20px;
    margin: 11px 7px 13px;
  }
}

@media (min-width: 900px) {

/*Header*/

  .header_large {
    grid-template-columns: 1fr 1fr 1fr 1fr 113px 100px;
    margin: 0px 40px 0px 82px;
  }

  .extra_contact {
    grid-column: 5;
  }

  .extra_english {
    grid-column: 6;
  }

  .search_large {
    padding-right: 80px;
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .searchbar_input {
    padding-right: 100px;
  }

/*Homepage*/

  .homepage-header-text {
    margin-left: 80px;
  }

  .homepage h3 {
    padding: 7px 80px;
  }

  .scrollbar {
    margin: 5px 80px;
  }

  .scrollbar-element p {
    font-size: var(--small);
  }
  .scrollbar-element img {
    height: 250px;
  }

/*Footer*/

  .footer_contribution {
    display: grid;
    grid-row: 2;
    grid-column: 4;
    margin: 30px 40px 0px 0px;

  }

  .footer_contribution div {
    display: flex;
  }
}
